@mixin main-text {
  font-family: 'CoreSansC' ,sans-serif;
  font-weight: 400;
}

@mixin transition($target) {
  transition: $target 0.3s ease;
}

@mixin link-hover-effect($opacity-on-hover) {
  @include transition(opacity);

  &:hover {
    opacity: $opacity-on-hover;
  }

  &:focus {
    outline: none;
    opacity: $opacity-on-hover;
  }
}
