$bg-color: #684e4e;
$accent-color: #D90002;

$logo-bg-color: radial-gradient(66.89% 66.89% at 59.24% 24.84%, #FEC8C1 0%, rgba(229, 106, 89, 0) 100%), #D13233;

$text-color: white;
$alt-text-color: black;

$header-height: 125px;

$intro-overlay: rgba(0,0,0,0.3);
$intro-overlay-on-focus: rgba(0,0,0,0.6);
