.background-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: rgba(255,0,0,0.5);
  overflow: hidden;

  &__track {
    display: flex;
    flex-shrink: 0;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    list-style: none;
    transition: transform 0.8s ease;
  }

  &__slide {
    display: block;

    min-width: 100%;
    height: 100%;
  }

  &__media {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
  }
}
