.header {
  // fixed || absolute
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 40px;
  width: 100%;
  min-height: $header-height;

  @media screen and (max-width: 1679px) {
    padding-top: 20px;
  }

  @media screen and (max-width: 1279px) {
    min-height: 47px;
  }

  @media screen and (max-width: 479px) {
    padding-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 407px);

    @media screen and (max-width: 1499px) {
      width: calc(100% - 200px);
    }

    @media screen and (max-width: 1279px) {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contacts-number {
    text-decoration: none;

    @include link-hover-effect(0.5);

    @media screen and (max-width: 1279px) {
      margin-right: 24px;
    }
  }

  &__contacts-number-text {
    display: block;

    margin-bottom: 8px;

    color: $text-color;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -0.03em;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__contacts-number-icon {
    display: none;

    width: 36px;
    height: 36px;

    fill: none;
    stroke: $text-color;

    @media screen and (max-width: 1279px) {
      display: block;
    }
  }

  &__contacts-label {
    font-size: 16px;
    line-height: 1.19;
    opacity: 0.5;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__menu-container {
    display: flex;
    height: fit-content;
  }

  &__menu {
    margin-right: 38px;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-item {
    display: flex;

    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__menu-link {
    position: relative;

    display: block;

    color: $text-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.19;

    &:hover .header__menu-link-real{
      transform: translateY(-20px);
      opacity: 0;
    }

    &:focus .header__menu-link-real{
      transform: translateY(-20px);
      opacity: 0;
    }

    &:hover .header__menu-link-pseudo{
      transform: translateY(0);
      opacity: 1;
    }

    &:focus .header__menu-link-pseudo{
      transform: translateY(0);
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__menu-link-real {
    display: block;

    transition: transform 0.3s, opacity 0.3s ease 0s;
    transform: translateY(0);
    opacity: 1;
  }

  &__menu-link-pseudo {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    transition: transform 0.3s, opacity 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
  }

  &__menu-btn {
    align-self: center;

    box-sizing: border-box;
    width: 48px;
    height: 10px;

    background: none;
    border-left: none;
    border-right: none;
    border-top: solid 2px $text-color;
    border-bottom: solid 2px $text-color;
    cursor: pointer;

    @include link-hover-effect(0.5);

    @media screen and (max-width: 479px) {
      width: 38px;
      height: 10px;
    }
  }
}
