.page {
  background-color: $bg-color;
  @include main-text;
  color: $text-color;

  // fonts optimization
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  &__section {
    box-sizing: border-box;
    padding: 0 40px;

    &_place {

      &_intro {
        display: flex;
        justify-content: space-between;

        padding-top: 80px + $header-height;
        padding-bottom: 120px;
      }
    }
  }

  &__section-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 400px);
  }

  &__intro-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
