.social-links {
  position: relative;


  display: flex;
  align-items: center;

  &__logo-link {
    position: absolute;
    top: 0;
    left: -40px;

    display: block;

    width: 200px;
    height: 56px;

    background-color: $text-color;

    @include link-hover-effect(0.5);

    @media screen and (max-width: 1679px) {
      left: -20px;
    }
  }

  &__logo-link-image {
    display: block;
    object-fit: cover;
  }

  &__list {
    position: relative;
    top: 42px;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list-item {
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
